:root {
    --cor1: #f5eedc;
    --cor2: #27548A;
    --cor3: #183B4E;
    --cor4: #DDA853;
    --cor5: #FFFFFF;
    --cor6: #0b120f;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 5%;
    background: var(--cor4);
    background: linear-gradient(0deg, rgba(221, 168, 83, 1) 0%, rgba(245, 238, 220, 1) 20%, rgba(255, 255, 255, 1) 100%);
}

footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: italic;
    color: white;
}

a {
    text-decoration: none;
}

a:link {
    color: var(--cor2);
}

a:visited {
    color: var(--cor4);
}

a:hover {
    color: var(--cor2);
    font-size: 1.5em;
    opacity: 70%;
}

a:active {
    color: var(--cor6);
}

table {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--cor5);
    background-image: url(../images/protruding-squares-orange-background.png);
    background-repeat: round;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--cor2);
}

h2.cargo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--cor6);
    font-size: 1.5em;
}

p, td {
    text-align: justify;
}

img.foto {
    border-radius: 50%;
    border: 3px solid var(--cor3);
}

.centralizar {
    text-align: center;
}

#grande {
    font-size: 3em;
}

#corBranca{
    color: var(--cor5);
}

* {
    color: var(--cor6);
}